:root {
  --color-background:#F3F3F3;
<<<<<<< HEAD
  --color-background-nav:#0D2E1D;
  --color-background-home:#184318;
  --color-text-light:#EDEDED;
  --color-text-title:#F7931E;
  --color-text-dark:#333232;
}

@font-face {
  font-family: 'MontserratAlternatesMedium';
  src: url('/fonts/MontserratAlternatesMedium.eot');
  src: url('/fonts/MontserratAlternatesMedium.eot') format('embedded-opentype'),
       url('/fonts/MontserratAlternatesMedium.woff2') format('woff2'),
       url('/fonts/MontserratAlternatesMedium.woff') format('woff'),
       url('/fonts/MontserratAlternatesMedium.ttf') format('truetype'),
       url('/fonts/MontserratAlternatesMedium.svg#MontserratAlternatesMedium') format('svg');
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: MontserratAlternatesMedium;
}

html,
body {
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  transition: 0.2 opacity;
}

a:hover {
  opacity: 0.8;
}

.container {
  width: 90%;
}

main {
  width: 100%;
  height: calc(100vh - 190px);
  display: flex;
}

=======
  --color-background-nav:#009245;
  --color-background-home:#344960;
  --color-text-light:#EDEDED;
  --color-text-title:#F7931E;
  --color-text-dark:#333232;
}
>>>>>>> 0da036b56ee0f0a78ecc1b7797ca770f7839c11f
